@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #2e2e2e;
@import "~bulma/bulma.sass";

* {
  color: black;
}

html {
  background-image: url('https://images.unsplash.com/photo-1483959651481-dc75b89291f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2101&q=80');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.top {
  background-color: #373741c2;

  .light {
    color: white;
  }
}

.gap {
 margin: -24px;
}

.navhold {
  background-color: rgba(135, 243, 202, 0.986);
  position: sticky;
  top: 0;
}


.navfont {
  color: #373741;
}

.home-text {
  font-size: 80px;
  font-weight: 600;
  margin-left: 20px;
}

.center {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin: 0 150px 0px 150px;
  width: 500px;
  .name {
    color: #87F3CA;
  }
}

.title-back {
  height: 280px;
  background-color: #373741c2;
  display: flex;
  flex-direction: column;
  align-items: center; 

  h2 {
    color: #373741;
    text-align: center;
    padding-top: 60px;
    font-size: 100px;
    color: white;
  }

  hr {
    width: 60px;
    border: 4px solid #87F3CA;
    border-radius: 2px;
  }
}

p {
  font-size: 19px;
  color: #373741;
}
.title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #373741;
}

.about {
  background-color:white;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;  

  .text-card {
    margin-top: 40px;
    padding: 50px 0 50px 50px;
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
  }

  .pic {
    margin-top: 40px;
    width: 300px;
    height: 330px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.342);
    border: 10px solid #87F3CA;
    border-radius: 30px;  
  }

  .profile {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }

  .lang {
    width: auto;
    height: auto;
    margin: 150px 70px 50px 70px;

    .logo {
      width: 80px;
      margin: 10px;
    }

    .logo:hover {
      fill: black;
    }
  }
}

.projects {
  background-color:white;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center; 
  padding-bottom: 100px;

  .project {
    margin-top: 80px;
  }
  
  .link {
    width: 30px;
    height: auto;
  }

  .button {
    background-color: #87F3CA;
    margin: 50px 10px 0 0;
    font-weight: 600;
  }
  .button:hover {
    background-color: rgba(135, 243, 202, 0.5);
  }

  .title {
    margin: 20px 0 30px 0px;
    font-size: 30px;
    font-weight: 600;
  }

  .project-info {
    width: 70vw;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    p {
      font-size: 19px;
      margin-top: 40px;
    }
    
    .project-image {
      margin-left: 50px;
      border: 7px solid #87F3CA;
      border-radius: 10px;
      width: 450px;
      height: 350px;
      object-fit: cover; 
      background-position:center center; 
      background-repeat:no-repeat;
    }
  }
}

.contact {
  height: 65vh;
  background-color: white;
}

.footer {
  background-color: #87F3CA;
}

@keyframes jump {
  0% { top: 0; } 50% { top: 50px; } 100% { top: 0; }
}


// Button/Arrow
#arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  animation: jump 5s infinite;
  padding-bottom: 30px;
  font-weight: 900;
  
    i {
      content: '\f0a8';
      font-size: 100px;
      transition: .3s ease-in-out;
      color: #87F3CA;
      margin: 0 100px;

  }
    i:hover {
      opacity: 0.7;
      transition: .3s ease-in-out;
  }
}